body {
    background-color: steelblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 5px;
}
h1.h1custom{
    color: pink;
}

table, th, td {
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.flex-container {
    display: flex;
    background-color: pink;
    flex-direction: column;
    border-radius: 20px;
}

.flex-container > div {
    background-color: grey;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
}

#grd {
    height: 200px;
    background-color: pink;
    background-image: linear-gradient(to right, red, green);
}